.App {
  text-align: center;
  /* display:flex; */
  

}
.navitems{


 align-items: center;
}
.navbar{

  background-color:aquamarine;
}
.dashboard{

  dispaly:flex;
  height:500px;
  width:500px;
  /* background-color: blueviolet; */
  padding-left: 400px;

}